html,body {
    height: 100%;
    
}

.calculator.container {
    height: 100%;
    display: flex;
    align-items: center;
}
.calculator.UI {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.calculator.UI img {
    width: 700px;
    height: 100%;

}